
<div class="container" id="feed">
	<div class="row">
		<% @products.each do |product| %>
			<div class="item"><a href="/stores/<%= product.store.name %>/<%= product.id %>"><img src="<%= product.image_url %>" class="img-responsive"></a></div>
		<% end %>
	</div>
</div>