<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Photo App</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/imagesloaded.js"></script>
  <script src="/js/masonry.pkgd.min.js"></script>
</head>
<body>

<!-- Nav Bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse">
      <div class="navbar-left logo">
        <a href="/"><h1>SW<span>A</span>G</h1></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/stores">Stores</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/product/new">Create new product</a></li>
        <li><a href="/stores/new">Create new store</a></li>
        <li><a href="/signup">Login</a></li>
      </ul>

      <form class="navbar-form navbar-right" action="/search">
        <div class="form-group">
          <input type="text" class="form-control" name="search" size="60" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
  </div>
</nav>

  <%= yield %>

  <script src="/js/application.js"></script>
</body>
</html>