<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">

    <h3 class="text-center">Create an New Product</h3>

      <form action="/product/new" method="post">
        <div class="form-group">
          <label for="storeId">Store</label>
          <select name="storeId" id="storeId" class="form-control">
            <% @stores.each do |store| %>
              <option value="<%= store.id %>"><%= store.name %></option>
            <% end %>
          </select>
      </div>
        <div class="form-group">
          <label for="productName">Product Name</label>
          <input type="text" class="form-control" name="productName" placeholder="Blue Sweater">
        </div>
        <div class="form-group">
          <label for="image_url">Image Url</label>
          <input type="text" class="form-control" name="image_url" placeholder="http://www.blah.com/image.jpg">
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" name="price" placeholder="20.00">
          </div>
        </div>
        <div class="form-group">
          <label for="categoryId">Category</label>
          <select name="categoryId" id="categoryId" class="form-control">
            <% @categories.each do |category| %>
              <option value="<%= category.id %>"><%= category.name %></option>
            <% end %>
          </select>
      </div>
      <div class="form-group">
        <label for="description">Product Description</label>
        <textarea class="form-control" name="description" rows="3" placeholder="Include some info about your product."></textarea>
      </div>
        <button type="submit" class="btn btn-default">Create</button>
      </form>
    </div>
  </div>
</div>