<div class="container text-center">
	<h3>Yo dude, there's nothing under '<%= params[:search] %>' yet...</h3>
	<p>Perhaps you should create something...</p>
<a href="/product/new" class="btn btn-info">Create A Product</a>
</div>