<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">

    <h3 class="text-center">Create an account</h3>

      <form action="/login" method="post">
        <div class="form-group">
          <label for="InputUsername">Choose a Username</label>
          <input type="text" class="form-control" name="InputUsername" placeholder="E.g. 6ofSpades">
        </div>
        <div class="form-group">
          <label for="InputEmail">Email address</label>
          <input type="email" class="form-control" name="InputEmail" placeholder="E.g. 6ofSpades@gmail.com">
        </div>
        <div class="form-group">
          <label for="InputPassword">Password</label>
          <input type="password" class="form-control" name="InputPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Let's Go!</button>
      </form>
    </div>
  </div>
</div>