<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">

    <h3 class="text-center">Create an New Store</h3>

      <form action="/stores/new" method="post">
        <div class="form-group">
          <label for="storeName">Store Name</label>
          <input type="text" class="form-control" name="storeName" placeholder="E.g. Beardo Australia">
        </div>
        <div class="form-group">
          <label for="storeUrl">Store URL</label>
          <input type="url" class="form-control" name="storeUrl" placeholder="E.g. https://beardo.com.au">
        </div>
        <div class="form-group">
          <label for="storeLocation">Location</label>
          <input type="text" class="form-control" name="storeLocation" placeholder="E.g. Melbourne, Australia">
        </div>
        <div class="form-group">
          <label for="storeDescription">Brief Description</label>
          <textarea class="form-control" name="storeDescription" rows="4" placeholder="Write a description of your store that will make people want to see your products..."></textarea>
        </div>
        <button type="submit" class="btn btn-default">Create</button>
      </form>
    </div>
  </div>
</div>