#newCategory {
	display: none;
}

.likes {
	color: red;
	text-align: center;
	font-size: 1.5em;
	margin-top: 100px;
}

.price {
	font-size: 2em;
}

.price span {
	font-size: 50%;
}

/* MASONRY STUFF */
.item {
	width: 30%;
	margin-bottom: 10px;
	position: relative;
}

.item.w2 { width: 50%; }

#feed img {
	min-width: 100%;
}

.productInfo {
	display: none;
	left: 0;
	top: 0;
	width: 100%;
}

.productHoverTop {
	background-color: rgba(0,0,0,0.6);
	padding: 20px 10px;
	color: #fff;
	margin: 0;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
}

.productHoverTop .glyphicon {
	font-size: 2em;
	vertical-align: middle;
	margin-right: 10px;
}

.productHoverTop .label {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5;
	padding: .5em .7em;
}

.productHoverTop a {
	text-decoration: none;
}

.label-as-badge {
    border-radius: 1em;
}

.productLikes {
	color: red;
}

.productHoverBottom {
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	padding: 20px 10px;
	color: #fff;
	margin: 0;
}