#newCategory {
	display: none;
}

.likes {
	color: red;
	text-align: center;
	font-size: 1.5em;
	margin-top: 100px;
}

.price {
	font-size: 2em;
}

.price span {
	font-size: 50%;
}

/* MASONRY STUFF */
.item {
	width: 30%;
	margin-bottom: 10px;
}

.item.w2 { width: 50%; }

#feed img {
	min-width: 100%;
}