#newCategory {
	display: none;
}

.likes {
	font-size: 1.3em;
}

.heartIcon {
	margin-right: 5px;
	font-size: 135%;
	vertical-align: sub;
}

.productDetails h3, .regText {
	font-family: 'Helvetica';
}

h1, h2, h3, h4 {
	font-family: 'Stroke-Bold';
}

nav h1 {
	margin: 0 30px -5px 0px;
	padding-top: 13px;
}

@font-face {
	font-family: Stroke;
	src: '/fonts/Stroke-Regular.otf';
}

.btn-success {
	background-color: #16CEB9;
	border-color: #14BEAB;
}

.btn-success:hover {
	background-color: #65E0D2;
	border-color: #16CEB9;
}

.logo {
	font-family: 'Stroke';
}

.logo a {
	text-decoration: none;
	color: #000;
}

.logo span {
	color: #16CEB9;
}

.logo h2, h4 {
	margin: 30px auto;
}

.navbar .container-fluid .logo .navbar-brand {
	margin-left: 60px;
	padding: 0;
	color: #000;
}

.navbar .container-fluid .logo .navbar-brand:hover {
	color: #777;
}

.navbar-form {
	display: inline-block;
	position: absolute;
	left: 30%;
}

.productDescription {
	background-color: #fafafa;
	border-radius: 10px;
	padding: 20px 30px;
}

.underline {
	border-bottom: solid 1px #e7e7e7;
}

.buyInfo {
	background-color: #fafafa;
	border-radius: 10px;
	padding: 30px;
}

.price {
	font-size: 1.3em;
	padding: 5px 10px 5px 10px;
	border-bottom: solid 1px #e7e7e7;
	border-top: solid 1px #e7e7e7;
}

.item {
	width: 340px;
	margin-bottom: 10px;
	position: relative;
}

.img-full {
	min-width: 100%;
}


.productInfo {
	display: none;
	left: 0;
	top: 0;
	width: 100%;
}

.productHoverTop {
	background-color: rgba(0,0,0,0.6);
	padding: 20px 10px;
	color: #fff;
	margin: 0;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
}

.productHoverTop .glyphicon {
	font-size: 2em;
	vertical-align: middle;
	margin-right: 10px;
}

.productHoverTop .label {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5;
	padding: .5em .9em;
}

.productHoverTop a {
	text-decoration: none;
}

.label-as-badge {
    border-radius: 1em;
}

.productLikes {
	color: red;
	font-family: 'Stroke-Light';
}

.productHoverBottom {
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	padding: 20px 10px;
	color: #fff;
	margin: 0;
}

.categories {
	font-size: 85%;
	line-height: 2.5;
}

.aside {
	margin-top: 70px;
}

.notFullWidth {
	margin-left: 30px;
	margin-right: 30px;
}

.inline {
	display: inline;
}

#delete_button_link {
	margin-top: -2px;
	padding-left: 0;
}


/* MODALS */

.modal-body {
	padding: 20px 15px 30px 15px;
}